p {
    font-size: 1.4em;
}

body {
    background: url(../img/fondo.png);
    background-size: cover;
    font-family: 'Rubik', sans-serif;
}

.centrea {
    text-align: center;
}

.borde {
    border-radius: 56px 56px 56px 56px;
    -moz-border-radius: 56px 56px 56px 56px;
    -webkit-border-radius: 56px 56px 56px 56px;
    border: 0px solid #000000;
    -webkit-box-shadow: 10px 10px 41px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 41px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 41px 0px rgba(0, 0, 0, 0.75);
}

.color {
    background: #FFD700;
    padding: 10px;
    color: white;
}