<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!--Styles-->
  <link rel="stylesheet" href="../assets/css/bootstrap.css">
  <link rel="stylesheet" href="../assets/css/style.css">
  <title>Internet of Things</title>
</head>
<body>
  <!--Header-->
  <nav class="navbar navbar-dark sticky-top" id="header">
    <div class="container-fluid">
      <a class="navbar-brand" href="../index.html">
        <img src="../assets/img/IoT.png" width="50" height="50" class="d-inline-block align-middle">
        IoT
      </a>
    </div>
  </nav>
  <!--Content-->
  <div class="container shadow-lg p-3 mb-5 rounded" id="content">
    <h1>Automoviles & IoT</h1>
    <hr>
    <p>
      Los vehículos inteligentes se están convirtiendo en el nuevo paradigma de la industria automotriz: 
      un auto conectado con todo, o casi todo, y que es capaz de entender lo que ocurre a su alrededor.
    </p>
    <p>
      Esto no es solo una cuestión relacionada con los fabricantes de automotores sino que se trata de 
      un escenario en el que están involucrados todo tipo empresas de tecnología, telefonía e infraestructuras.
    </p>
    <p>
      Para las pruebas, utilizan un vehículo autónomo equipado con aparatos de comunicación de última generación, 
      al igual que un tramo del carril del bus- VAO de la autovía A-6, donde se están haciendo los tests. 
      La información compartida va desde situaciones de atascos a obras en la carretera o advertencias 
      climatológicas adversas y se nutre del canal de incidencias de la Dirección General de Tráfico.
    </p>
    <div class="text-center mt-3 mb-3 p-3">
      <img src="../assets/img/autos1.jpg" alt="automovil-tesla" class="rounded mx-auto d-block">
      <span class="font-italic text-center">
        Tesla Model S
      </span>      
    </div>
    <p>
      Así como nadie compraría hoy un TV sin control remoto, cuando hace 30 años era un opcional, 
      se puede predecir que en 5 años nadie comprará un auto que no esté conectado. De esta manera, 
      en el año 2020 será imposible pensar que un auto no envíe una alarma automática ante un accidente, 
      que no realice un diagnóstico preventivo e informe de anomalías y necesidades de reparación al dueño, 
      y al taller, o no permita llamar para pedir ayuda o localización, ya que según la consultora Gartner 
      habrá más de 20 mil millones de equipos conectados. En el año 2016 se esperan 4 equipos conectados por 
      habitante con una población estimada de 7.200 millones de personas, esta relación pasará a 7 en el año 2020.
    </p>   
  </div>
  <!--Footer-->
  <div class="footer text-center mt-5">
    <p>Internet of Things &copy; 2019</p>
  </div>
  <!--Scripts-->
  <script src="../assets/js/bootstrap.js"></script>
  <script src="../assets/js/jquery.js"></script>
  <script src="../assets/js/popper.js"></script>
</body>
</html>
