<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!--Styles-->
  <link rel="stylesheet" href="../assets/css/bootstrap.css">
  <link rel="stylesheet" href="../assets/css/style.css">
  <title>Internet of Things</title>
</head>
<body>
  <!--Header-->
  <nav class="navbar navbar-dark sticky-top" id="header">
    <div class="container-fluid">
      <a class="navbar-brand" href="../index.html">
        <img src="../assets/img/IoT.png" width="50" height="50" class="d-inline-block align-middle">
        IoT
      </a>
    </div>
  </nav>

  <!--Footer-->
  <div class="footer text-center mt-5">
    <p>Internet of Things &copy; 2019</p>
  </div>
  <!--Scripts-->
  <script src="../assets/js/bootstrap.js"></script>
  <script src="../assets/js/jquery.js"></script>
  <script src="../assets/js/popper.js"></script>
</body>
</html>
