<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Automoviles</title>
    <link rel="stylesheet" href="../css/estilos-principal.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/automoviles.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins|Roboto+Slab|Rubik|Ubuntu&display=swap" rel="stylesheet">

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark menu-fixed">
        <a class="navbar-brand" href="#"> <img src="../img/logo.png" width="30" height="30" alt=""> Internet de las Cosas</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="../index.html">Inicio <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item  active">
                    <a class="nav-link" href="automoviles.html">Automoviles</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="energetico.html">Energetico</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="medica.html">Salud</a>
                </li>
            </ul>
            <span class="navbar-text">
                    <!-- Navbar text with an inline element -->
                    </span>
        </div>
    </nav>
    <div class="color">
        <h1 class="centrea mt-3">AUTOMOVILES</h1>
    </div>

    <div class="row m-5">
        <div class="col-md-6"><img src="../img/auto.jpg" alt="" class="img-fluid borde"></div>
        <div class="col-md-6">
            <p style="text-align: justify">
                Los vehículos inteligentes se están convirtiendo en el nuevo paradigma de la industria automotriz: un auto conectado con todo, o casi todo, y que es capaz de entender lo que ocurre a su alrededor. Esto no es solo una cuestión relacionada con los fabricantes
                de automotores, sino que se trata de un escenario en el que están involucrados todo tipo empresas de tecnología, telefonía e infraestructuras. Para las pruebas, utilizan un vehículo autónomo equipado con aparatos de comunicación de última
                generación, al igual que un tramo del carril del bus- VAO de la autovía A-6, donde se están haciendo los tests. La información compartida va desde situaciones de atascos a obras en la carretera o advertencias climatológicas adversas y
                se nutre del canal de incidencias de la Dirección General de Tráfico.
            </p>

        </div>
    </div>

    <div class="row m-5">
        <div class="col-md-6">
            <p style="text-align: justify">
                Así como nadie compraría hoy un TV sin control remoto, cuando hace 30 años era un opcional, se puede predecir que en 5 años nadie comprará un auto que no esté conectado. De esta manera, en el año 2020 será imposible pensar que un auto no envíe una alarma
                automática ante un accidente, que no realice un diagnóstico preventivo e informe de anomalías y necesidades de reparación al dueño, y al taller, o no permita llamar para pedir ayuda o localización, ya que según la consultora Gartner habrá
                más de 20 mil millones de equipos conectados. En el año 2016 se esperan 4 equipos conectados por habitante con una población estimada de 7.200 millones de personas, esta relación pasará a 7 en el año 2020. De esta forma podemos afirmar
                que mucho antes de que lleguemos al auto que se maneja solo, podremos disfrutar de un automóvil que nos hace la vida más fácil y nos acerca la asistencia justo allí donde la necesitemos.

            </p>
        </div>
        <div class="col-md-6"><img src="../img/carretera.jpg" alt="" class="img-fluid borde"></div>
    </div>

    <div class="row m-5">
        <div class="col-md-6"><img src="../img/Ituran.jpg" alt="" class="img-fluid borde"></div>
        <div class="col-md-6">
            <p style="text-align: justify">
                Hoy en día, ¿Cuantas veces estamos en duda si cerramos el auto o apagamos las luces, o queremos saber si un ser querido llego bien a destino, o estamos perdidos y no podemos usar el celular para orientarnos? En algunos años más, el auto conectado será
                la respuesta. Actualmente Ituran ofrece estos servicios para cualquier vehículo como alertas de temperatura de motor, consumo de combustible, alerta por frenadas violentas, alerta ante accidente, ante excesos de velocidad, apertura y cierre
                remoto de puertas, localización del vehículo, alerta por exceso de RPM y alerta de luces encendidas entre otras cosas.

            </p>
        </div>
    </div>



    <footer>
        @ IoT
    </footer>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html