<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ENERGETICOS</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/energetico.css">
    <link rel="stylesheet" href="../css/estilos-principal.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#"> <img src="../img/logo.png" width="30" height="30" alt=""> Internet de las Cosas</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="../index.html">Inicio <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item  ">
                    <a class="nav-link" href="automoviles.html">Automoviles</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="energetico.html">Energetico</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="medica.html">Salud</a>
                </li>
            </ul>
            <span class="navbar-text">
                    Navbar text with an inline element
                    </span>
        </div>
    </nav>

    <h1>Sector Energetico</h1>
    <hr>
    <p>
        La importancia económica del sector energético es evidente; hablamos de un campo que tiene que ver con la explotación de hidrocarburos y la generación de electricidad, es decir, con todo aquello que está necesariamente presente en la economía nacional,
        regional y global, a través de la industria del transporte y del uso de energía eléctrica. <br> Las ventajas de IoT en los procesos productivos están más que comprobadas; usarlo genera múltiples beneficios en empresas de muy distinto tipo:
        desde la industria manufacturera hasta una tienda online, pasando por negocios de publicidad, marketing, educación y muchos más; aboquémonos ahora a revisar algunas de las principales aplicaciones de IoT en el sector energético –lo que se da a
        llamar Smart Energy– enfocados en el uso de la energía eléctrica.
    </p>
    <img src="../img/energias.jpg" alt="">
    <h2>Medidores eléctricos inteligentes</h2>
    <hr>
    <p>
        Un medidor inteligente es un dispositivo que mide el gasto de energía eléctrica de una empresa pública o privada, una casa habitación o cualquier otro espacio; se diferencia del medidor tradicional analógico en que no necesita de empleados que lean la
        información registrada de manera presencial, debido a que los datos son enviados a control remoto y de manera automática a un centro de control; además, un medidor inteligente envía lecturas por día, hora, minuto o de manera constante, avisa de
        inmediato sobre casos de robo, intromisión o manipulación externa y en caso de corte de luz el centro de control está en condiciones de informar el hecho a las instancias correspondientes para que atiendan el caso.
    </p>
    <img src="../img/medidor.jpg" alt="" class="img-fluid">
    <h2>Control de iluminacion</h2>
    <hr>
    <p>
        Por medio del uso de sensores es posible disminuir los costos de energía eléctrica en la iluminación de espacios de todo tipo; esto programando la iluminación en determinados horarios del día y la noche o activándola sólo cuando se detecta la presencia
        de personas, animales u objetos en un radio espacial definido previamente, a través de detectores de presencia que operan con sensores de infrarrojo que perciben el calor, o con sensores de radar que captan los cambios de frecuencia de las ondas
        de los cuerpos, por su parte, los sensores crepusculares modulan la iluminación artificial en función de la luz natural que existe en un espacio; todo ello trae como consecuencia el ahorro significativo del uso de electricidad, que en un hogar
        puede llegar al 80%, y la personalización del uso de luz en un espacio que siempre posee necesidades específicas que pueden ser programadas.
    </p>
    <!-- <img src="../img/" alt=""> ACA LA IMAGEN DE CONTROL DE ILUMINACION -->
    <h2>Control de climatización</h2>
    <hr>
    <p>
        Con la utilización de termostatos inteligentes el clima de un espacio –empresa, centro comercial, casa habitación, etc. – se puede regular de manera automatizada y a distancia; la forma en que operan estos dispositivos es mediante sensores que registran
        las distintas características del clima y en función de ellas activa o desactiva el uso de aire acondicionado o calefacción, cuyo funcionamiento está previamente programado para operar de determinada manera.
    </p>
    <!-- <img src="" alt=""> ACA LA IMAGEN DE CLIMATIZACION-->
    <h2>Ventajas de IoT en el sector energético</h2>
    <hr>
    <p>
        Los principales beneficios que trae consigo la aplicación de estos dispositivos de IoT en el sector energético son: ahorro en el costo de uso de energía eléctrica, aumento de la productividad y rentabilidad empresarial, mejoramiento de la operatividad
        de una empresa, predicción y resolución de problemas y mejoramiento de la seguridad. <br> Ya sea para que tu empresa ahorre costos en el uso de energía eléctrica mediante la utilización de dispositivos de IoT o de que pienses invertir
        en la fabricación, importación o creación de nuevas tecnologías inteligentes en el sector energético, el hecho es que la aplicación de IoT en este sector es una realidad que tu negocio no puede dejar de aprovechar.
    </p>
    <!-- <img src="" alt=""> ACA LA IMAGEN DE VENTAJAS -->
    <footer>
        @ IoT
    </footer>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>