<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SALUD Y MEDICINA</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/medica.css">
    <link rel="stylesheet" href="../css/estilos-principal.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#"> <img src="../img/logo.png" width="30" height="30" alt=""> Internet de las Cosas</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="../index.html">Inicio <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item  ">
                    <a class="nav-link" href="automoviles.html">Automoviles</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="energetico.html">Energetico</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="medica.html">Salud</a>
                </li>
            </ul>
            <span class="navbar-text">
                    Navbar text with an inline element
                    </span>
        </div>
    </nav>

    <h1>Atencion Medica</h1>
    <hr>
    <p>
        La buena atención médica es el tipo de medicina que practican y enseñan los líderes reconocidos de la profesión médica en un cierto periodo del desarrollo social, cultural y profesional de una determinada comunidad o grupo de población. <br> Varios
        beneficios importantes están impulsando a las organizaciones de salud a abrazar un futuro conectado. La principal de ellas es la posibilidad de mejorar los resultados de los pacientes cuando los datos se comparten en tiempo real. <br> El IoT permite
        a los profesionales de la salud extraer datos de dispositivos médicos, aplicaciones móviles e incluso chips integrados en nuestros cuerpos para ayudar a diagnosticar la salud del paciente de manera más rápida. Los datos clínicos agregados ayudan
        a llenar los vacíos en las memorias de eventos de los pacientes.
    </p>
    <!-- <img src="../img/energias.jpg" alt=""> -->
    <h2>Datos en tiempo real - intervenciones en tiempo real</h2>
    <hr>
    <p>
        De acuerdo con un estudio de caso publicado por la Junta Asesora, el objetivo de IoT en la atención médica no es solo la identificación temprana de problemas de salud, sino también la identificación en tiempo real de escaladas de salud peligrosas. (2)
        Los datos del paciente en tiempo real permiten a los proveedores recopilar y procesar datos del paciente que, en algunos casos, pueden permitirles anticipar los problemas de salud y realizar intervenciones sensibles al tiempo.
    </p>
    <p>
        Otro beneficio potencial de IoT es un mayor retorno de la inversión para las organizaciones de atención que optan por abrazar un futuro conectado, según un artículo en HealthTech.
    </p>
    <!-- <img src="../img/medidor.jpg" alt="" class="img-fluid"> -->
    <h2>La gran variedad de dispositivos de asistencia sanitaria </h2>
    <hr>
    <h4>Dispositivos externos portátiles</h4>
    <p>
        Por ejemplo, dispositivos que controlan la presión arterial, la glucosa, la temperatura, etc.
    </p>
    <h4>Médicos implantados</h4>
    <p>
        Por ejemplo, marcapasos, bombas de infusión dispositivos de administración de fármacos, monitores de glucosa, etc.
    </p>
    <h4>Dispositivos médicos estacionarios</h4>
    <p>
        Máquinas de rayos X y máquinas de resonancia magnética, monitorización de pacientes.
    </p>
    <h2>Beneficios del IoMT</h2>
    <hr>
    <p>
        Uno de los mayores beneficios del Internet de las cosas médicas (IoMT) es que mejora la asistencia médica a las personas de la tercera edad. Las personas mayores pueden recibir atención sin necesidad de desplazarse de sus casas.
    </p>
    <h4>Otros beneficios:</h4>
    <p>
        • Disminuyen los costos de asistencia en salud. <br> • Reduce los errores en el diagnostico debido a una mejora en la data. <br> • Mejora la experiencia del paciente. <br> • Ayuda a los pacientes a adherirse a los tratamientos.
    </p>

    <footer>
        @ IoT
    </footer>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>